:root {
  --color-black: #343434;
  --color-gray100: #e6e6e6;
  --color-text: #524747;
}

@font-face {
  font-family: 'KronaOne';
  src: url('../../fonts/KronaOne-Regular.ttf') format("truetype");
}

@font-face {
  font-family: 'pretendard-rg';
  src: url('../../fonts/Pretendard-Regular.woff') format("woff");
}
@font-face {
  font-family: 'pretendard-bd';
  src: url('../../fonts/Pretendard-Bold.woff') format("woff");
}
@font-face {
  font-family: 'pretendard-li';
  src: url('../../fonts/Pretendard-Light.woff') format("woff");
}
@font-face {
  font-family: 'pretendard-m';
  src: url('../../fonts/Pretendard-Medium.woff') format("woff");
}

h1,
h2,
h3,
h4 {
  letter-spacing: -2px;
  line-height: 120%;
  font-family: 'pretendard-bd',  sans-serif;
}

p {
  letter-spacing: -1px;
}

input,
select,
option {
  accent-color: var(--color-black);
}

input::placeholder {
  font-family: 'pretendard-rg';
  font-size: 14px;
}

input[type=text]:focus,
select:focus,
textarea:focus {
  outline: none;
  border: none !important;
}

#root {
  overflow-y: hidden;
  height: 100vh;
}

.font-bd {
  font-family: 'pretendard-bd';
}

.el-flex {
  display: flex;
}

.ali-center {
  align-items: center;
}

.flex-bt {
  display: flex;
  justify-content: space-between;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dir-column {
  flex-direction: column;
}

.elm-hidden {
  height: 0;
  overflow: hidden;
  z-index: -99;
  visibility: hidden;
}

.opacity-0 {
  opacity: 0;
}

.relative {
  position: relative;
}

.top50 {
  top: 50%;
  transform: translateY(-50%);
}

.img-container {
  width: 100%;
  height: 100%;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.w-100 {
  width: 100%;
}

.wh-100 {
  width: 100%;
  height: 100%;
}

.z-1 {
  z-index: 1;
}