<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.our.sadari.alim.mapper.AlimMapper">

    <!-- 설정 행이 없는 기존 회원은 기존 알림 수신 동작을 유지함 -->
    <select id="getUserAlimSetting" parameterType="long" resultType="org.our.sadari.user.dto.UserSettingDto">
        <bind name="commYes" value="@org.our.sadari.global.common.constant.Constant@COMM_YES" />
        SELECT /* getUserAlimSetting */
               U.USER_NUMB
             , COALESCE(S.LKAL_YSNO, #{commYes}) AS LIKE_ALIM_YSNO
             , COALESCE(S.RPAL_YSNO, #{commYes}) AS REPLY_ALIM_YSNO
             , COALESCE(S.FOLL_YSNO, #{commYes}) AS FOLLOW_ALIM_YSNO
             , COALESCE(S.CLUB_YSNO, #{commYes}) AS CLUB_ALIM_YSNO
             , COALESCE(S.CHAT_YSNO, #{commYes}) AS CHAT_ALIM_YSNO
             , COALESCE(S.RDUE_YSNO, #{commYes}) AS REPORT_DUE_ALIM_YSNO
          FROM TM_USERXM U
     LEFT JOIN TM_USSETX S
            ON S.USER_NUMB = U.USER_NUMB
         WHERE U.USER_NUMB = #{userNumb}
    </select>

    <!-- 발송 가능한 알림 템플릿을 조회함. USEE_YSNO가 Y인 템플릿만 실제 사용자 알림으로 저장할 수 있음 -->
    <select id="getAlimTemp" parameterType="org.our.sadari.alim.dto.AlimDto$AlimTempDto" resultType="org.our.sadari.alim.dto.AlimDto$AlimTempDto">
        <bind name="commYes" value="@org.our.sadari.global.common.constant.Constant@COMM_YES" />
        SELECT /* getAlimTemp */
               T.ALIM_SITU
             , T.TEMP_CODE
             , T.TEMP_TITL
             , CASE WHEN S.ENGL_YSNO = #{commYes} THEN COALESCE(NULLIF(T.ALIM_ENTL, ''), T.ALIM_TITL) ELSE T.ALIM_TITL END AS ALIM_TITL
             , CASE WHEN S.ENGL_YSNO = #{commYes} THEN COALESCE(NULLIF(T.TEMP_ENCT, ''), T.TEMP_CONT) ELSE T.TEMP_CONT END AS TEMP_CONT
             , T.USEE_YSNO
          FROM TB_ALTEMP T
     LEFT JOIN TM_USSETX S
            ON S.USER_NUMB = #{userNumb}
         WHERE T.ALIM_SITU = #{alimSitu}
           AND T.TEMP_CODE = #{tempCode}
           AND T.USEE_YSNO = #{commYes}
    </select>

    <!-- 정상 이용 회원만 알림 수신 대상으로 인정함 -->
    <select id="getActiveAlimUserCnt" parameterType="long" resultType="int">
        SELECT /* getActiveAlimUserCnt */
               COUNT(1)
          FROM TM_USERXM U
         WHERE U.USER_NUMB = #{userNumb}
           AND U.USER_STAT = 'ACTIVE'
    </select>

    <!-- 사용자별 알림 순번을 INSERT에서 계산하고 MySQL 연결별 생성값으로 같은 호출 안에서 발송할 알림 번호를 DTO에 돌려줌 -->
    <insert id="setAlim" parameterType="org.our.sadari.alim.dto.AlimDto$AlimItemDto">
        <selectKey keyProperty="alimNumb" resultType="long" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
        /* setAlim */
        INSERT INTO TB_ALIMXX (
                    USER_NUMB
                  , ALIM_NUMB
                  , ALIM_SITU
                  , TEMP_CODE
                  , ALIM_TITL
                  , ALIM_CONT
                  , TAGT_TYPE
                  , TAGT_NUMB
                  , REPL_NUMB
                  , CHAT_NUMB
                  , READ_YSNO
                  , SEND_DATE
                  , DELT_YSNO
        )
        SELECT #{userNumb}
             , LAST_INSERT_ID(COALESCE(MAX(ALIM.ALIM_NUMB), 0) + 1)
             , #{alimSitu}
             , #{tempCode}
             , #{alimTitl}
             , #{alimCont}
             , #{tagtType,jdbcType=VARCHAR}
             , #{tagtNumb,jdbcType=BIGINT}
             , #{replNumb,jdbcType=BIGINT}
             , #{chatNumb,jdbcType=BIGINT}
             , #{readYsno}
             , CURRENT_TIMESTAMP
             , #{deltYsno}
          FROM TB_ALIMXX ALIM
         WHERE ALIM.USER_NUMB = #{userNumb}
    </insert>

    <!-- 같은 조건의 알림이 1시간 안에 이미 있으면 사용자가 같은 알림을 반복해서 받지 않도록 발송을 생략함 -->
    <select id="dupSameAlimInHour" parameterType="org.our.sadari.alim.dto.AlimDto$AlimItemDto" resultType="int">
        <bind name="commNo" value="@org.our.sadari.global.common.constant.Constant@COMM_NO" />
        SELECT /* dupSameAlimInHour */
               COUNT(*)
          FROM TB_ALIMXX
         WHERE USER_NUMB = #{userNumb}
           AND ALIM_SITU = #{alimSitu}
           AND TEMP_CODE = #{tempCode}
           AND COALESCE(ALIM_TITL, ' ') = COALESCE(#{alimTitl}, ' ')
           AND COALESCE(ALIM_CONT, ' ') = COALESCE(#{alimCont}, ' ')
           AND COALESCE(TAGT_TYPE, ' ') = COALESCE(#{tagtType}, ' ')
           AND COALESCE(TAGT_NUMB, -1) = COALESCE(#{tagtNumb}, -1)
           AND COALESCE(REPL_NUMB, -1) = COALESCE(#{replNumb}, -1)
           AND COALESCE(DELT_YSNO, #{commNo}) = #{commNo}
           AND SEND_DATE >= DATE_SUB(CURRENT_TIMESTAMP, INTERVAL 1 HOUR)
    </select>

    <!-- 삭제되지 않은 알림을 읽음 여부와 관계없이 10개씩 조회하고, 다음 페이지 확인용으로 1개를 더 반환함 -->
    <select id="getMyAlimList" parameterType="org.our.sadari.alim.dto.AlimDto$AlimListReqDto" resultType="org.our.sadari.alim.dto.AlimDto$AlimItemDto">
        <bind name="commNo" value="@org.our.sadari.global.common.constant.Constant@COMM_NO" />
        <bind name="alimSituDefault" value="@org.our.sadari.global.common.constant.Constant@ALIM_SITU_DEFAULT" />
        SELECT /* getMyAlimList */
               ALIMPAGE.USER_NUMB
             , ALIMPAGE.ALIM_NUMB
             , ALIMPAGE.ALIM_SITU
             , ALIMPAGE.TEMP_CODE
             , ALIMPAGE.ALIM_TITL
             , ALIMPAGE.ALIM_CONT
             , ALIMPAGE.READ_YSNO
             , ALIMPAGE.READ_DATE
             , ALIMPAGE.SEND_DATE
             , ALIMPAGE.DELT_YSNO
             , COALESCE(ICON.MIME_TYPE, DEFAULT_ICON.MIME_TYPE) AS ALIM_ICON_MIME_TYPE
             , COALESCE(ICON.ICON_DATA, DEFAULT_ICON.ICON_DATA) AS ALIM_ICON_DATA
          FROM (  SELECT ALIMDETAIL.USER_NUMB
                       , ALIMDETAIL.ALIM_NUMB
                       , ALIMDETAIL.ALIM_SITU
                       , ALIMDETAIL.TEMP_CODE
                       , ALIMDETAIL.ALIM_TITL
                       , ALIMDETAIL.ALIM_CONT
                       , ALIMDETAIL.READ_YSNO
                       , DATE_FORMAT(ALIMDETAIL.READ_DATE, '%Y-%m-%d %H:%i:%s') AS READ_DATE
                       , DATE_FORMAT(ALIMDETAIL.SEND_DATE, '%Y-%m-%d %H:%i:%s') AS SEND_DATE
                       , ALIMDETAIL.DELT_YSNO
                       , ROW_NUMBER() OVER(
                             ORDER BY ALIMDETAIL.SEND_DATE DESC
                                    , ALIMDETAIL.ALIM_NUMB DESC
                         ) AS ROW_NUMB
                    FROM (  SELECT ALIM.USER_NUMB
                                 , ALIM.ALIM_NUMB
                                 , ALIM.ALIM_SITU
                                 , ALIM.TEMP_CODE
                                 , ALIM.ALIM_TITL
                                 , ALIM.ALIM_CONT
                                 , ALIM.READ_YSNO
                                 , ALIM.READ_DATE
                                 , ALIM.SEND_DATE
                                 , ALIM.DELT_YSNO
                              FROM TB_ALIMXX ALIM
                             WHERE ALIM.USER_NUMB = #{userNumb}
                               AND COALESCE(ALIM.DELT_YSNO, #{commNo}) = #{commNo}
                         ) ALIMDETAIL
               ) ALIMPAGE
     LEFT JOIN TM_ALICON ICON
            ON ICON.ALIM_SITU = ALIMPAGE.ALIM_SITU
     LEFT JOIN TM_ALICON DEFAULT_ICON
            ON DEFAULT_ICON.ALIM_SITU = #{alimSituDefault}
         WHERE ALIMPAGE.ROW_NUMB BETWEEN #{startRow} AND #{endRow}
      ORDER BY ALIMPAGE.ROW_NUMB
    </select>

    <!-- 알림 소유권을 사용자와 알림번호로 제한하고 현재 콘텐츠 소유자와 팔로우 관계를 함께 조회함 -->
    <select id="getAlimTargetDtl" parameterType="org.our.sadari.alim.dto.AlimDto$AlimTargetDto" resultType="org.our.sadari.alim.dto.AlimDto$AlimTargetDto">
        <bind name="commYes" value="@org.our.sadari.global.common.constant.Constant@COMM_YES" />
        <bind name="commNo" value="@org.our.sadari.global.common.constant.Constant@COMM_NO" />
        <bind name="targetReport" value="@org.our.sadari.global.common.constant.Constant@LIKE_TARGET_REPORT" />
        <bind name="targetProfile" value="@org.our.sadari.global.common.constant.Constant@LIKE_TARGET_PROFILE_IMAGE" />
        <bind name="targetBackground" value="@org.our.sadari.global.common.constant.Constant@LIKE_TARGET_BACKGROUND_IMAGE" />
        <bind name="targetUser" value="@org.our.sadari.global.common.constant.Constant@ALIM_TARGET_USER" />
        <bind name="targetClub" value="@org.our.sadari.global.common.constant.Constant@ALIM_TARGET_READING_CLUB" />
        <bind name="clubChatTemplate" value="@org.our.sadari.global.common.constant.Constant@ALIM_TEMP_CODE_CLUB_CHAT_MESSAGE" />
        SELECT /* getAlimTargetDtl */
               A.USER_NUMB
             , A.ALIM_NUMB
             , A.TEMP_CODE
             , A.TAGT_TYPE
             , A.TAGT_NUMB
             , A.REPL_NUMB
             , CASE
                   WHEN A.TAGT_TYPE = #{targetReport} THEN R.USER_NUMB
                   WHEN A.TAGT_TYPE = #{targetUser} THEN U.USER_NUMB
                   WHEN A.TAGT_TYPE = #{targetClub} AND A.TEMP_CODE = #{clubChatTemplate} THEN CM.USER_NUMB
                   WHEN A.TAGT_TYPE = #{targetClub} THEN C.OWNR_NUMB
                   ELSE I.USER_NUMB
               END AS TARGET_USER_NUMB
             , CASE
                   WHEN A.TAGT_TYPE = #{targetReport} THEN RU.USER_STAT
                   WHEN A.TAGT_TYPE = #{targetUser} THEN U.USER_STAT
                   WHEN A.TAGT_TYPE = #{targetClub} AND A.TEMP_CODE = #{clubChatTemplate} THEN CMU.USER_STAT
                   WHEN A.TAGT_TYPE = #{targetClub} THEN CU.USER_STAT
                   ELSE I.USER_STAT
               END AS TARGET_USER_STAT
             , R.PUBC_YSNO
             , R.REPT_STAT
             , CASE WHEN F.USER_NUMB IS NOT NULL THEN #{commYes} ELSE #{commNo} END AS FOLLOW_YSNO
          FROM TB_ALIMXX A
     LEFT JOIN TM_REPORT R
            ON A.TAGT_TYPE = #{targetReport}
           AND R.REPT_NUMB = A.TAGT_NUMB
     LEFT JOIN TM_USERXM RU
            ON RU.USER_NUMB = R.USER_NUMB
     LEFT JOIN TM_USERXM I
            ON (A.TAGT_TYPE = #{targetProfile} AND I.PROF_NUMB = A.TAGT_NUMB)
            OR (A.TAGT_TYPE = #{targetBackground} AND I.BGIM_NUMB = A.TAGT_NUMB)
     LEFT JOIN TM_USERXM U
            ON A.TAGT_TYPE = #{targetUser}
           AND U.USER_NUMB = A.TAGT_NUMB
     LEFT JOIN TM_CLUBXM C
            ON A.TAGT_TYPE = #{targetClub}
           AND C.CLUB_NUMB = A.TAGT_NUMB
     LEFT JOIN TM_USERXM CU
            ON CU.USER_NUMB = C.OWNR_NUMB
     LEFT JOIN TB_CLMEMX CM
            ON A.TAGT_TYPE = #{targetClub}
           AND A.TEMP_CODE = #{clubChatTemplate}
           AND CM.CLUB_NUMB = A.TAGT_NUMB
           AND CM.USER_NUMB = A.USER_NUMB
           AND CM.MEMB_STAT = 'ACTIVE'
     LEFT JOIN TM_USERXM CMU
            ON CMU.USER_NUMB = CM.USER_NUMB
     LEFT JOIN TB_FOLLOW F
            ON F.USER_NUMB = A.USER_NUMB
           AND F.FLOW_NUMB = CASE
                                 WHEN A.TAGT_TYPE = #{targetReport} THEN R.USER_NUMB
                                 WHEN A.TAGT_TYPE = #{targetUser} THEN U.USER_NUMB
                                 ELSE I.USER_NUMB
                             END
         WHERE A.USER_NUMB = #{userNumb}
           AND A.ALIM_NUMB = #{alimNumb}
           AND COALESCE(A.DELT_YSNO, #{commNo}) = #{commNo}
    </select>

    <!-- 사용자가 알림센터 항목 또는 푸시 알림을 클릭한 경우 해당 알림 한 건만 읽음 처리함 -->
    <update id="uptAlimRead" parameterType="org.our.sadari.alim.dto.AlimDto$AlimReadReqDto">
        <bind name="commYes" value="@org.our.sadari.global.common.constant.Constant@COMM_YES" />
        <bind name="commNo" value="@org.our.sadari.global.common.constant.Constant@COMM_NO" />
        UPDATE /* uptAlimRead */
               TB_ALIMXX
           SET READ_YSNO = #{commYes}
             , READ_DATE = CURRENT_TIMESTAMP
         WHERE USER_NUMB = #{userNumb}
           AND ALIM_NUMB = #{alimNumb}
           AND COALESCE(DELT_YSNO, #{commNo}) = #{commNo}
           AND COALESCE(READ_YSNO, #{commNo}) = #{commNo}
    </update>

    <!-- 모두 지우기는 아직 화면에 로드하지 않은 알림도 제외해야 하므로 사용자 기준으로 삭제 여부를 일괄 갱신함 -->
    <update id="delAllAlim" parameterType="long">
        <bind name="commYes" value="@org.our.sadari.global.common.constant.Constant@COMM_YES" />
        <bind name="commNo" value="@org.our.sadari.global.common.constant.Constant@COMM_NO" />
        UPDATE /* delAllAlim */
               TB_ALIMXX
           SET DELT_YSNO = #{commYes}
         WHERE USER_NUMB = #{userNumb}
           AND COALESCE(DELT_YSNO, #{commNo}) = #{commNo}
    </update>

    <!-- 햄버거 메뉴 배지용 미읽음 알림 수임. 목록 조회 없이 숫자만 필요할 때 사용함 -->
    <select id="getUnreadAlimCnt" parameterType="long" resultType="int">
        <bind name="commNo" value="@org.our.sadari.global.common.constant.Constant@COMM_NO" />
        SELECT /* getUnreadAlimCnt */
               COUNT(*)
          FROM TB_ALIMXX
         WHERE USER_NUMB = #{userNumb}
           AND COALESCE(DELT_YSNO, #{commNo}) = #{commNo}
           AND COALESCE(READ_YSNO, #{commNo}) = #{commNo}
    </select>
</mapper>
