<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.our.sadari.book.mapper.BookMapper">

    <!-- ISBN과 언어 기준으로 도서 마스터 중복 등록 여부를 확인함 -->
    <select id="dupBook" parameterType="org.our.sadari.book.dto.BookDto" resultType="int">
        SELECT /* dupBook */
               COUNT(*)
          FROM TM_BKINFO
         WHERE BOOK_ISBN = #{bookIsbn}
           AND LANG_CODE = #{langCode}
    </select>

    <!-- ISBN과 언어 기준으로 이미 등록된 도서 마스터 번호를 조회함 -->
    <select id="getBookNumbByIsbn" parameterType="org.our.sadari.book.dto.BookDto" resultType="long">
        SELECT /* getBookNumbByIsbn */
               BOOK_NUMB
          FROM TM_BKINFO
         WHERE BOOK_ISBN = #{bookIsbn}
           AND LANG_CODE = #{langCode}
    </select>

    <!-- 회원 상태와 독서 상태 및 공개 여부에 관계없이 선택 기간의 고유 독후감 작성자 수 기준 인기 도서를 조회함 -->
    <select id="getPopularBookList" resultType="org.our.sadari.book.dto.PopularBookDto">
        <bind name="reptStatRead" value="@org.our.sadari.global.common.constant.Constant@REPORT_STAT_READ" />
        SELECT /* getPopularBookList */
               COALESCE(B.BOOK_TITL, '') AS TITLE
             , COALESCE(B.BOOK_ATHR, '') AS AUTHOR
             , COALESCE(B.BOOK_PUBL, '') AS PUBLISHER
             , COALESCE(B.BOOK_ISBN, '') AS ISBN
             , COALESCE(B.BOOK_CVIM, '') AS IMAGE
             , COALESCE(B.BOOK_DESC, '') AS DESCRIPTION
             , COALESCE(DATE_FORMAT(B.PUBL_DATE, '%Y%m%d'), '') AS PUBDATE
             , P.REPORT_COUNT
             , ROUND(AVG(CAST(G.REPT_GRDE AS UNSIGNED)), 1) AS RATING_AVERAGE
          FROM (
                SELECT R.BOOK_NUMB AS BOOK_NUMB
                     , COUNT(DISTINCT R.USER_NUMB) AS REPORT_COUNT
                     , MAX(R.REGI_DATE) AS LATEST_REPORT_DATE
                  FROM TM_REPORT R
                 WHERE R.REGI_DATE <![CDATA[>=]]> #{periodStart}
                   AND R.REGI_DATE <![CDATA[<]]> #{nextPeriodStart}
              GROUP BY R.BOOK_NUMB
              ORDER BY REPORT_COUNT DESC
                     , LATEST_REPORT_DATE DESC
                     , R.BOOK_NUMB
                 LIMIT 10
               ) P
          JOIN TM_BKINFO B
            ON B.BOOK_NUMB = P.BOOK_NUMB
          LEFT JOIN TM_REPORT G
            ON G.BOOK_NUMB = P.BOOK_NUMB
           AND G.REPT_STAT != #{reptStatRead}
      GROUP BY B.BOOK_NUMB
             , B.BOOK_TITL
             , B.BOOK_ATHR
             , B.BOOK_PUBL
             , B.BOOK_ISBN
             , B.BOOK_CVIM
             , B.BOOK_DESC
             , B.PUBL_DATE
             , P.REPORT_COUNT
             , P.LATEST_REPORT_DATE
      ORDER BY P.REPORT_COUNT DESC
             , P.LATEST_REPORT_DATE DESC
             , P.BOOK_NUMB
    </select>

    <!-- 신규 도서 마스터 정보를 등록하고 생성된 도서 번호를 DTO에 반영함 -->
    <insert id="setBook" parameterType="org.our.sadari.book.dto.BookDto" useGeneratedKeys="true" keyProperty="bookNumb">
        /* setBook */
        INSERT INTO TM_BKINFO (
                    BOOK_ISBN
                  , LANG_CODE
                  , BOOK_TITL
                  , BOOK_ATHR
                  , BOOK_PUBL
                  , BOOK_CVIM
                  , BOOK_DESC
                  , PUBL_DATE
        ) VALUES (  #{bookIsbn}
                  , #{langCode}
                  , #{bookTitl}
                  , REPLACE(#{bookAthr}, '^', ', ')
                  , #{bookPubl}
                  , #{bookCvim}
                  , #{bookDesc}
                  , #{publDate}
        )
    </insert>
</mapper>
