.record-btn {
  background-color: #343434;
  width: 120px;
  height: 50px;
  color: #fff;
  border-radius: 20px;
  border: none;
  
  display: flex;
  justify-content: center;
  align-items: center;
}